site_name: Polars-Bloomberg
site_description: Polars DataFrame interface for Bloomberg API
repo_url: https://github.com/MarekOzana/polars-bloomberg

theme:
  name: mkdocs
  highlight_js: true
  navigation_depth: 3

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
  - mkdocs-jupyter:
      remove_tag_config:
        remove_input_tags:
          - hide_code

nav:
  - Home: index.md
  - Usage & Tutorials:
    - BDP: usage/bdp.md
    - BDH: usage/bdh.md
    - BDIB: usage/bdib.md
    - BSRCH: usage/bsrch.md
    - BQL: usage/bql.md
  - Examples:
    - Equity: examples/equity.ipynb
    - Credits: examples/credits.ipynb
    - Macro: examples/macro.ipynb
  - API Reference: api.md