site_name: Polars-Bloomberg
site_description: Polars DataFrame interface for Bloomberg API
repo_url: https://github.com/MarekOzana/polars-bloomberg

theme:
  name: material
  logo: images/polars-bloomberg-logo-512x512.png
  favicon: images/polars-bloomberg-fav-32x32.png
  font:
    text: "Roboto"
    code: "Cascadia Mono" # "Cascadia Mono"


plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
  - mkdocs-jupyter:
      remove_tag_config:
        remove_input_tags:
          - hide_code


nav:
  - Home: index.md
  - Usage & Tutorials:
    - BDP: usage/bdp.md
    - BDH: usage/bdh.md
    - BDIB: usage/bdib.md
    - BSRCH: usage/bsrch.md
    - BQL: usage/bql.md
  - Examples:
    - Equity: examples/equity.ipynb
    - Credits: examples/credits.ipynb
    - Macro: examples/macro.ipynb
    - SPX Valuation Scenarios: examples/macro/spx-valuation-scenarios.ipynb
  - API Reference: api.md
