site_name: Polars-Bloomberg
site_description: Fast Polars DataFrame interface for Bloomberg blpapi, covering BDP, BDH, BDIB, BSRCH, and Bloomberg BQL workflows with practical examples.
site_url: https://marekozana.github.io/polars-bloomberg/
repo_url: https://github.com/MarekOzana/polars-bloomberg
repo_name: MarekOzana/polars-bloomberg
edit_uri: edit/main/docs/

theme:
  name: material
  logo: images/polars-bloomberg-logo-512x512.png
  favicon: images/polars-bloomberg-fav-32x32.png
  font:
    text: "Roboto"
    code: "Cascadia Mono" # "Cascadia Mono"
  palette:
    # Light (Polars-ish: blue/white)
    - scheme: default
      primary: blue
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to Bloomberg mode

    # Dark (Bloomberg-ish: dark + orange)
    - scheme: slate
      primary: amber
      accent: gray
      toggle:
        icon: material/weather-sunny
        name: Switch to Polars mode

markdown_extensions:
  - meta
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
  - mkdocs-jupyter:
      remove_tag_config:
        remove_input_tags:
          - hide_code


nav:
  - Home: index.md
  - Usage & Tutorials:
    - BDP: usage/bdp.md
    - BDH: usage/bdh.md
    - BDIB: usage/bdib.md
    - BSRCH: usage/bsrch.md
    - BQL: usage/bql.md
  - Examples:
    - Equity: examples/equity/index.md
    - Credits: examples/credit/index.md
    - Macro: examples/macro/index.md
  - API Reference: api.md
